*{
  font-family: Helvetica,Arial;
}

body{
  padding: 60px;
}

input{
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  color:grey;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  border: 1px solid grey;
  border-radius: 5px;
  align-content: center;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
}

.card img {
  max-height: 170px;
}

.card p {
  text-align: center;
  color:grey;
}